.is-form-style input.is-search-input {
    border-width: 0 0 2px 0!important;
    font-size: 24px!important;
    font-weight: 900!important;
    border-color: $main-color!important;
    color: #fff!important;
    background: transparent;
    padding: 30px 15px 30px 25px;
}

.is-menu.sliding.open .search-close {
    display: none;
}

.is-search-icon,
.is-search-icon:hover {
    background: transparent;
    border-width: 0 0 2px 0;
    border-color: $main-color;
    height: 49px;

    svg {
        width: 29px!important;
    }
}

.is-popup-search-form form {
    width: 90%;
    text-align: center;
    max-width: 600px;
}

.is-form-style .is-search-submit path {
    fill: #fff!important;
}

.search-list {
    .col {
        padding: 0 0 15px;
    }
    > .col {
        padding: 0 0 65px 0;

        &:nth-child(3n+2) {
            transition-delay: 0.15s;
        }
    
        &:nth-child(3n+3) {
            transition-delay: 0.25s;
        }
    }
    
    .search-card {
        position: relative;
        padding-top: 20px;
        height: 100%;
        transition: all 0.5s;
        border-top: 1px solid #eee;


        @media (min-width: 48em) {
            margin-right: 35px;
        }

        @media (min-width: 64em) {
            margin-right: 55px;
        }
        
        * {
            transform:translate3d(0,0,0);
        }

        &:hover {
            border-color: $main-color;
            // transform: translateY(-10px);
        }

        h3 {
            font-size: 1.3rem;
            line-height: 1.25;
            margin-top: 0;
            
            a {
                transition: color 0.3s ease-in;
                color: $text-color;
            }
        }

        .more-link {
            font-size: 85%;
            line-height: 1.1;
        }

        &:hover {
            transform: translateY(-10px);

            h3 a {
                color: $main-color;
            }
        }
    }
}

.search-meta {
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba($text-color, 0.4);
    text-transform: uppercase;

    h2 & {
        letter-spacing: 0;
        margin: 2rem 0;
    }
}

.search-date {
    display: inline-block;
}

.search-category {
    text-transform: uppercase;
    letter-spacing: 0;
    display: inline-block;

    .post-categories {
        list-style: none;
        padding:0;
        margin: 0;

        li {
            display: inline-block;
        }

        a {
            color: #2e2e2e;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 50px;
            padding: 5px 10px;
            font-size: 0.60rem;
            font-weight: 700;
            line-height: 1;
            pointer-events: none!important;
        }
    }
    
}