.page-template-template-thankyou {
    .block-inner-small > img {
        max-width: 201px;
        margin-bottom: 50px;
    }

    .footer {
        @media (min-height: 1000px) {
            position: absolute;
            width: 100%;
            bottom: 0;

        }
    }
}

