$main-color: #CD2023 !default;
$light-grey-bg: #f7f8fa !default;

$text-color: rgba(#000, 1) !default;
$text-color-light: #FFFFFF !default;

$text-font-family: 'Poppins','Helvetica Neue','Arial',sans-serif;